*{
	margin:0;
	padding: 0;
	font-weight: normal;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
.container{
	max-width: 750px;
}
h3{
	color:#000000;
	margin-bottom: 15px;
}
a{
	color:#000000;
	text-decoration: none;
}
.job{
	border-bottom: 1px solid #dcdcdc;
	padding: 20px;
}
.job:hover{
	background: #f5f5f5;
}
.monster{
	background: #ebe2f2;
}
.mol{
	background: #dee9e3;
}
.oikotie{
	background: #f5f3eb;
}