<html>
	<head>
		<title>Mol</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/css/style.css">

	</head>
	<body>
			{% for job in jobs %}	
				<a href="{{ job.link }}">
					<div class="job {{ job.source }}">
						<div class="container">
							<h3>{{job.title}}</h3>		
							<div class="desc">{{job.description}}</div>
						</div>
					</div>
				</a>
			{% endfor %}
	</body>
</html>